/*mobile devices and defaults*/
html,body,.container,.main_layout{
    height:100%;
}
.main_layout{
    margin-top:12%;
}
.tiles{
   display:grid;
   grid-row-gap:7%;
   grid-column-gap:5%;
   height:85%;
   grid-template-columns: repeat(3, 1fr);
  

}
.element{
    border: none;
    text-align:center;
    font-size:475%;
    padding-top:50%;
    border-radius:16.7px;
    background-color:#8f8d8d;
    outline:none;
    box-shadow:1px 0px 13px 4px rgba(0, 0, 0, 0.1);    
}
.element:focus{
    outline:none;
}
#Heading{
    margin-top:7%;
}
@media(min-width:992px){
    .main_layout{
        margin-top:8%;
    }
    .tiles{
        height:60%;
    }
    .col{
        max-width: 90%;
    }
}