/*mobile devices and defaults*/
html,body,.container,.main_layout{
    height:100%;
}
.main_layout{
    margin-top:2%;
}
.tiles{
   display:grid;
   grid-row-gap:7%;
   grid-column-gap:5%;
   height:85%;
   grid-template-columns: repeat(3, 1fr);
  

}
.element{
    border: none;
    text-align:center;
    font-size:475%;
    padding-top:50%;
    border-radius:16.7px;
    background-color:#8f8d8d;
    outline:none;    
}
.element:focus{
    outline:none;
}

